.Button-wrapper,
.Button-inner-wrapper {
  display: flex;
}

.Button-wrapper {
  border-radius: 10px;
  cursor: pointer;
}

.Button-inner-wrapper {
  justify-content: space-between;
  align-items: center;
  min-width: 180px;
  padding: 20px;
  text-decoration: none;
  font-weight: 600;
}

