input {
  background: none;
  border: none;
  outline: none;
  padding: 0 20px;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  max-width: 200px;
}

input::placeholder {
  font-size: 18px;
  color: #383742;
  font-weight: 400;
}

:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px #201f29 inset;
  -webkit-text-fill-color: #fff;
  outline: none;
  border: none;
}
