@import '../../styles/mixins.scss';
@import '../../styles/responsive.scss';
@import '../../styles/colors.scss';
@import '../../styles/values.scss';

.FlashIt-button-maxWidth,
.FlashIt-button-default,
.FlashIt-button-primary,
.FlashIt-button-accessory {
  @include flex(row, center, center);
  background-color: none;
  width: min-content;
  padding: 20px;
  border-radius: 10px;
  transition: width 0.3s ease-in-out;
}

.FlashIt-button-maxWidth {
  width: 100%;
}

.FlashIt-button-default {
  background-color: $white;
  color: $d-gray;
}
.FlashIt-button-primary {
  background-color: $primary;
  color: $white;
}
.FlashIt-button-accessory {
  background-color: $d-gray;
  color: $white;
}
