.PublicForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:  30px;
}

.PublicForm-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.PublicForm-main {
  font-size: 30px;
  text-align: center;
}

.PublicForm-describe {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 70%;
  width: 90%;
}
