.Register-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.Register-main {
  font-size: 30px;
}

.Register-describe {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 70%;
  width: 80%;
}
