.FlashItPublicPattern {
  display: flex;
  justify-content: center;
  align-items: center;
}

.FlashItPublicPattern-triangles-bottom,
.FlashItPublicPattern-triangles-top {
  position: fixed;
  overflow: hidden;
  z-index: 0;
}
.FlashItPublicPattern-triangles-bottom {
  bottom: 0;
}
.FlashItPublicPattern-triangles-top {
  top: 0;
}

.FlashItPublicPattern-children {
  z-index: 1;
}
