.FlashItPublicPattern {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.FlashItPublicPattern-triangles {
  position: fixed;
  overflow: hidden;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.FlashItPublicPattern-children {
  z-index: 1;
}
