@import '../../../styles/mixins.scss';
@import '../../../styles/colors.scss';
@import '../../../styles/values.scss';
@import '../../../styles/responsive.scss';

.BarButton,
.BarButton-active {
  @include flex(row, center, center);
  width: 100%;
  height: 100%;
  border-top: $border-width solid;
  color: $d-accent;
  background: none;
  transition: border-color 0.3s;
}

.BarButton:last-child,
.BarButton-active:last-child {
  border-right: $border-width solid;
  border-radius: 0 20px 0 0;
}

.BarButton:first-child,
.BarButton-active:first-child {
  border-left: $border-width solid;
  border-radius: 20px 0 0 0;
}

.BarButton {
  border-color: $d-accent;
  transition: 0.3s;
}

.BarButton-active,
.BarButton-active:first-child,
.BarButton-active:last-child {
  border-color: $primary;
  color: $primary;
}

// .BarButton:hover {
//   & svg {
//     transform: scale(1.2);
//     transition: 0.3s;
//   }
// }

@media only screen and (max-width: $breakpoint-phone) {
  .BarButton:last-child,
  .BarButton-active:last-child {
    border-right: none;
    border-radius: 0;
  }

  .BarButton:first-child,
  .BarButton-active:first-child {
    border-left: none;
    border-radius: 0;
  }
}
