.App-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.App {
  display: flex;
  justify-content: center;
  width: calc(400px - 70px);
  padding: 0px 35px;
  /* background-color: rgb(33, 44, 44); */
}
