@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: 'Lexend', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  background: none;
  border: none;
  outline: none;
  padding: 0 20px;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  max-width: 200px;
}

input::placeholder {
  font-size: 18px;
  color: #383742;
  font-weight: 400;
}

:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px #201f29 inset;
  -webkit-text-fill-color: #fff;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  font-weight: 600;
}

button {
  font-family: 'Lexend', sans-serif;
  background: none;
  border: none;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  display: none;
}

html,
body,
.App-wrapper,
.App-wrapper > div {
  height: 100%;
}
